<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for product in products %}
            <div>
                <p>Added: {{product.added_date}}</p>
                <h1><a href=""> {{ product.type }}</a> </h1>
                <h1><a href=""> {{ product.title }}</a> </h1>
                <p>{{ product.text|linebreaksbr}}</p>
            </div>
        {% endfor %}
        {{products}}
    </body>
</html>